/* Styling for the certificate form */
.certificate_form {
    width: auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 10px;
    display: grid;
    flex-wrap: wrap;
    gap: 10px;
    /* Adds space between fields */
}

.label {
    font-size: 18px;
    font-weight: 500;
    width: 100%;
}

.label_heading{
    font-size: 30px;
    font-weight: 700;
}

.input_form {
    width: 48%;
    /* Make input fields 48% to leave some space for gap */
    padding: 12px 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
}

textarea.input_form {
    height: 120px;
}

.certificate_button {
    width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.img_button {
    width: 48%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;

}


.certificate_button:hover {
    background-color: #45a049;
}

.certificate_date{
    width: 250px !important;
}
