/* Styling for the certificate form */
.certificate_form {
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 30px;
    display: grid;
    flex-wrap: wrap;
    gap: 10px;
}

.view_certificate_form {
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 30px;
    display: grid;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: 20px;
}

.label {
    font-size: 18px;
    font-weight: 500;
    width: fit-content;
}

.label_heading {
    font-size: 30px;
    font-weight: 700;
}

.input_form {
    width: 100%;
    padding: 20px 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 26px !important;
    height: 50px;
}

.resize_textarea {
    width: 100%;
    padding: 20px 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    line-height: 26px !important;
}

.textarea.input_form {
    height: 200px;
} 

.certificate_button {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}

.img_button {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 16px;
    cursor: pointer !important;
    align-items: center;
}


.certificate_button:hover {
    background-color: #45a049;
    color: #ffffff;
}

.certificate_date{
    width: 250px !important;
}

.button_delete{
    background-color: #e40000;
    color: white;
    padding: 6px 20px 6px 20px;
}
.button_delete:hover{
    background-color: #aa0101;
    color: white;
}
.button_edit{
    background-color: #05aaf7;
    color: white;
    padding: 6px 20px 6px 20px;
}
.button_edit:hover{
    background-color: #008bcc;
    color: white;
}
.button_view{
    background-color: #4CAF50;
    color: white;
    padding: 6px 20px 6px 20px;
}
.button_view:hover{
    background-color: #238a26;
    color: white;
}

.widefat tr:nth-child(even) {
    background-color: #f2f2f2;
}

.widefat th {
    font-size: 16px;
    text-align: left;
    background-color: #dbdbdb;
    color: white;
    font-weight: 500;
}

.widefat td{
    font-size: 14px;
}

.view_certificate{
    font-size: 16px;
}

.certificate_container {
    max-width: 700px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.certificate_container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
}

.certificate_detail p {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 15px;
}

.certificate_detail p strong {
    font-weight: bold;
    color: #0073aa;
}

.certificate_detail img {
    border: 1px solid #ccc;
    padding: 5px;
    margin-top: 10px;
}

.back_button {
    background-color: #4CAF50;
    color: rgb(255, 255, 255);
    padding: 8px 20px 8px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 14px;
    margin-top: 40px;
}
.back_button:hover {
    background-color: #238a26;
    color: rgb(255, 255, 255);
}



.w3-certificate {
    width: 800px;
    margin: 50px auto;
    padding: 40px;
    border: 3px solid #777777;
    background-color: #fff;
    font-family: Arial, sans-serif;
    text-align: center;
    color: #333;
}
.button_container {
    width: 800px;
    margin: 50px auto;
    text-align: center;
}

/* Header Section */
.certificate-title {
    font-size: 36px;
    font-weight: bold;
    color: #4CAF50;
    margin-bottom: 10px;
}

.certificate-subtitle {
    font-size: 20px;
    color: #666;
    margin-bottom: 40px;
}

/* Certificate Details */
.certificate-details {
    font-size: 18px;
    margin: 20px 0;
    display: block;
    text-align: left;
}
.items-details-img {
    font-size: 18px;
    margin: 20px 0;
    display: inline;
    max-width: 320px;
    margin-top: 10px;
}

.certificate-field {
    margin: 10px 0;
    font-size: 18px;
    font-weight: 300;
}

/* Signature and Date */
.signature-section {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    align-items: flex-end;
    flex-wrap: nowrap;
}

.signature-block {
    text-align: center;
}

.signature-line {
    margin-top: 6px;
    margin-bottom: 6px;
    border-top: 1px solid #333;
    width: 200px;
}

.player-img{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
}

.signature-title {
    font-size: 18px;
    font-weight: 500px !important;
    display: block;
    text-align: center;
    padding-bottom: 4px;

}

.signature-date {
    font-size: 16px;
}

.player-profession {
    font-size: 12px;
    font-weight: 300px !important;
    display: block;
    text-align: center;
    max-width: 250px;
}